body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;
  }
  

.topnav {
    overflow: hidden;
    background-color: rgb(255,120,227);
}

.topnav a {
    float: left;
    color: rgb(70,255,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
}

.topnav a:hover {
    background-color: rgb(205,112,255);
    color: black;
}

.topnav a.active {
    background-color: #556B2F;
    color: white;
}


i {
    color: rgb(252,255,55);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    height: 100vh;
}