body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right bottom, #f09ce6, #ff9dbf, #ffb291, #ffd473, #e8f77b);
  }
  

.topnav {
    overflow: hidden;
    background-image: linear-gradient(to left top, #f09ce6, #ff9dbf, #ffb291, #ffd473, #e8f77b);
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
}

.topnav a:hover {
    background-color:rgb(70,255,255);
    color: black;
}


i {
    color: rgb(255, 55, 245);
}

.topnav i:hover {
    color: rgb(252,255,55);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    height: 100vh;
    cursor: pointer;
}

@media (min-width: 600px) {
    .topnav a {
        font-size: 34px;
    }
}