body {
  background: bisque;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}


.back {
  float: right;
  border: 3px solid pink;
  border-radius: 50px;
  padding: 8px;
  background: cadetblue;
  color: wheat;
  cursor: pointer;
}

    